body // light
  --gradient: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF00 140%)
  --border-color: #F8F8F8
  --bg-color: #FFFFFF
  --color: #111
  --link-color: black
  --bg-transparent: #FFFFFFa8
  --font-family: 'Hind' //, sans-serif
  // --font-family: "Helvetica Neue" //, sans-serif
  --font-size: 2vw
  --font-size-small: 2.4vw
  --title-size: 2.8vw
  --icon-size: 5vw

.dark
  --gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0,0,0,0) 110%)
  --border-color: #FFFFFF20
  --bg-color: #000000
  --color: white
  --link-color: white
  --bg-transparent: #000000a8;

@media (max-width: 960px) // Tablet ?
  body
    --font-size: 3.6vw
    --title-size: 4.8vw
    --font-size-small: 3.6vw
    // overflow-x: hidden

@media (max-width: 720px) // Mobile ?
  body
    --font-size: 4vw
    --title-size: 6vw
