// $primary: #eee
$primary: #5d387b

body #app main section.flights
  flightList
    transition: all .2s ease .5s
    &.hide
      opacity: 0;
      pointer-events: none
      transform: translate3d(0,-12vw,0)

  .icon-edit.datepicker
    .control input 
      border: none
      background: white
      font-size: var(--font-size)
    &:before
      position: absolute
      z-index: 1
      right: 0
      left: auto
      padding: 5.5vw 6vw
      font-size: 12vw
      color: #666
      pointer-events: none
      font-size: var(--icon-size)
  .left
    position: absolute
    top: 6vw
    right: 0vw
    a.icon-back,
    a.icon-filter,
    a.icon-reload,
    a.icon-refresh
      padding: 5vw 6vw 2.5vw
      font-size: var(--title-size)
      & > .ripple-container div
        background: rgba(220,220,220,.2) !important
    a.icon-refresh,
    a.icon-back
      color: #444
      margin-right: -4vw
    a.change
      color: #4CAF50
      -webkit-text-stroke-width: .6px
  .agree
    font-size: var(--font-size-small)
    box-shadow: 0 0 2vw -1vw #222
    padding: 5.4vw 0 6vw
    margin-top: 10vw
    background: white
    width: 100%
    z-index: 0
    position: relative
    // transition: all .25s ease .8s
    label
      margin: 0
    &.float
      box-shadow: 0 0 16px -4px rgba(88, 88, 88, 0.5)
      position: fixed
      bottom: -4vw
      z-index: 98
      & + div
        pointer-events: none
    a
      text-decoration: underline
  li
    list-style: none
    // margin-top: 4px
    .flight
      // display: flex
      margin-bottom: 5vw
      // flex-direction: column-reverse
    .connection-time
      position: absolute
      background-color: whitesmoke
      color: grey
      left: 18%
      width: 65%
    .col, .col2
      width: 30%
      display: inline-block
      .flight-number
        font-weight: 500
        font-size: var(--font-size-small)
        &:before
          content: 'Flight'
      .code
        font-size: var(--title-size)
      .city
        white-space: nowrap
        font-size: 3vw
      .type,
      .total-time
        transform: scale(.8)
        font-size: var(--font-size-small)
        white-space: nowrap;
      .time
        margin-top: 2%
        line-height: 100%
        font-size: var(--title-size);
        &:after
          display: block
          content: attr(data-time)
          font-size: var(--font-size)
    .col2
      width: 25%
      line-height: 150%
      vertical-align: bottom
    .icon-flight
      font-size: var(--title-size)
      padding-bottom: 10%
    .fil
      padding: 4% 0 2.4%
      border-top: 1px solid #ddd
      border-bottom: 1px solid #bbb
      background: #f5f5f5
      display: block
      .col
        line-height: 150%
        vertical-align: middle
    .head
      padding: 5% 0 4%
      background: $primary
      border-top: 1px solid #ccc
      color: white
      // .collapse-departure-icon .icon
      //   color: white
      //   padding-bottom: 5%
    .prices
      &:empty + .fil
        display: none
      & > div
        flex: none
        width: 100%
        display: block
        border-bottom: 1px solid #ddd
        transition: background .5s ease
        &::empty + div
          display: none
        &:last-child
          > *
          border-bottom: none
        &.available
          display: block
        &.sold-out
          opacity: .36
          pointer-events: none
          background: #fafafa
        & > *
          min-width: 28%
          padding: 2vw 0 1.5vw
          display: inline-block
        & .class,
        & .rbds-class
          font-size: var(--font-size-small)
        & .rbds-class
          text-align: left
        & .class
          text-align: right
        & > a
          min-width: 28%
          margin: 0 6% 0 6%
          background: rgba(250, 250, 250, 0.8)
          transition: background .5s ease
        &.on,
        &.on > a
          background: rgba(0, 158, 0, 0.24)
  .selected
    font-size: var(--font-size-small)
    text-align: left
    margin-top: 8vw
    position: fixed
    bottom: 0
    width: 100%
    line-height: 1.4
    z-index: 9
    // overflow-y: scroll
    // height: 124vw
    // transition: transform .2s ease, all .2s ease .5s
    transition: all .25s ease
    &.hide
      height: 48vw
      z-index: 99
      transform: translate3d(0, 30vw, 0)
      h3
        border: none
      & > div
        box-shadow: 0 0 2vw 0 rgba(0,0,0,0.28)
    h3
      margin-bottom: 1vw
      padding: 5vw 3vw

    & > div
      // margin-top: 32vw
      max-height: 100vh
      overflow-y: scroll
      -webkit-overflow-scrolling: touch

      background: white
      position: relative
      padding: 2vw 6vw 4vw
      box-shadow: 0 0 1vw 0 rgba(0,0,0,0.28), 0 0 96vh 48vh rgba(255,255,255,.8)
      &.full
        padding: 2vw 8vw 22vw
      & > div
        padding: 3.2vw
        background: white
      & > div.date
        padding: 6vw 2.2vw 3.2vw
        border-top: 1px solid #ddd
        &:before
          vertical-align: sub
          color: rgb(32, 154, 32)
          font-size: var(--font-size)
        b
          margin: 0 2vw 0 3.6vw
      & > div.date.reverse
        margin: 0
        &:before
          display: inline-block
          transform: rotate(180deg)
      & > .details
        padding-bottom: 4.8vw
        // border-bottom: 1px solid #ddd
      & > div.icon-arrival,
      & > div.icon-departure
        padding: 1.5vw 3.2vw
        b
          font-size: var(--font-size)
          margin: 0 2vw 0 3.6vw
          font-family: Verdana
        &:before
          font-size: var(--icon-size)
          vertical-align: middle
          font-size: 5.4vw
      & > div.icon-arrival
        &:before
          // font-size: 5vw

      &.icon-flight:before
        top: 42%
        left: 50%
        position: absolute
        transform: translate3d(-36%,-50%,0)
        font-size: 12vw
        opacity: .12
      b
        font-size: var(--font-size)
        margin-right: 1.5vw
      b:not(:first-child)
        margin: 0 1.5vw

      .price
        margin: 0 0vw 20vw
        padding: 0
        div
          padding: 2.8vw 2vw 2.2vw
          display: block
          // border-top: 1px solid #ddd
          border-top: 1px solid #ccc
          &:nth-child(2)
            border-color: #ddd
          &:last-child
            border-color: #eee
          b
            float: right
            font-size: 4vw

      .right
        top: 22vw
        right: 8vw
        position: absolute
        text-align: right
        width: 28%
        line-height: 1.5
        b
          margin-bottom: 8%
      .icon-up,
      .icon-down,
      .icon-close
        padding: 6.4vw 8vw
      a.icon-up:after,
      a.icon-down:after
        font-size: 4vw
        text-decoration: underline
        float: left
        padding: 0 2vw
        content: 'Show more'
      a.icon-down:after
        color: rgb(22,132,22)
        content: 'Continue'
      a.icon-down.hide:after
        content: 'Hide'
        color: grey
      a.icon-trash
        text-align: center
        position: absolute
        right: 6vw
        width: 20vw
        &:before
          color: #dc8a8a
          font-size: 6vw
          display: block
          margin-bottom: 2vw
.filters
  position: fixed
  // margin-top: 28vw
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 9
  padding: 0 0 2vw
  text-align: left
  overflow-y: scroll
  border-top: 1px solid #00000012
  background: rgba(255, 255, 255, 0.84)
  // background: white
  -webkit-overflow-scrolling: touch
  font-size: var(--font-size)
  .flex
    // display: flex
    align-items: center
    background: rgba(255, 255, 255, 0.6)
  & > div:not(.hide)
    border-top: 1px solid rgba(148, 148, 148, 0.2)
    padding: 0 0 2vw
    transition: all .2s

    &:fist-child
      border-top: 1px solid rgba(148, 148, 148, 0.2)
    & > .field
      margin: 5% 6% 3%
    .classes
      margin-top: 4%
      margin-left: -4%
      li
        width: 38%
        margin: 1% 0% 3% 10%
        display: inline-block
  & h3
    font-weight: 500
    padding-bottom: 2vw
    font-size: var(--icon-size)
  & b
    font-weight: 500
    padding-top: 1vw
    font-size: var(--font-size)
    display: block
    padding: 4vw 5vw
    border-bottom: 1px solid rgba(132, 132, 132, 0.4)
    margin-bottom: 2vw
    background: #f4f4f4
    font-weight: bold
    &:after
      content: 'c'
      font-family: kiu
      position: absolute
      right: 5vw
  & .hide
    padding: 0
    // background: red
    *:not(b)
      // display: none
      height: 0
      opacity: 0
      padding: 0
      overflow: hidden
      transition: all .2s
    b
      margin: 0
      &:after
        content: 'b'

  .slider-input
    flex-grow: 2
    padding: 8vw 6vw 4vw 6vw

.flights
  .agree.float,
  button[type=submit]
    margin: 10vw 0 0
    transition: all .2s ease
    // transform: translate3d(0,12%,0)
    // opacity: .5
    &.float,
    &:not([disabled])
      transform: translate3d(0,-4vw,0)
      transition: opacity .5s ease, transform .5s ease
      position: sticky
      position: fixed
      opacity: 1
      bottom: -4.5vw
      left: 0
      z-index: 10

// FIX variables buefy
.switch input[type=checkbox]:checked + .check,
.switch:hover input[type=checkbox]:checked+.check,
.b-checkbox.checkbox input[type=checkbox]:checked + .check
  background-color: $primary
  border-color: $primary
  box-shadow: 0 0 .5em -.25em $primary
.b-checkbox.checkbox:hover input[type=checkbox]+.check
  border-color: $primary
  border-color: #9658ad
