$primary: #5d387b

$material-shadow: 0 1px 1px 0 rgba(0,0,0,.02)

.dropdown .background
  background: none
.ripple
  transition: all .25s linear !important

*
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
html
  // font-size: 0
  // overflow: hidden
body
  margin: 0
  // height: 100%
  // position: relative
  // height: 100vh
  min-height: 100vh
  font-family: var(--font-family)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50
  // -webkit-overflow-scrolling: touch
  // opacity: .8
  a
    color: #222222
  input
    font-family: var(--font-family)
  pre
    // display: none
    margin-top: 10vw
    z-index: -1
    text-align: left
    font-size: 3.2vw
    max-width: 100vw
    // min-height: 100vh
    white-space: pre-wrap
    border-top: 1px solid #ccc
    padding: 5vw
    position: relative
  #app
    // position: relative
    & > div > header
      margin: 0
      height: 12vw
      background: url(/img/header.jpg) 50% 50%
      background-size: auto 96%
      & > a,
      & > ul
        display: none
        position: absolute
        right: 0;
        padding: 4%;
        font-size: 4vw;
        line-height: 2vw;
        color: white;
        li
          display: inline-block
        a
          color: white
      & > ul
        right: 8vw

    main
      text-align: center
      section
        position: relative

        label
          margin: 0;
          text-align: left;
          padding: 2vw 4vw 0vw;
          font-size: var(--font-size-small);
          position: relative
          z-index: 12
        .control
          // z-index: -1
          background: #fafafa
          input, 
          input:hover,
          input:focus,
          input
            z-index: 0
            padding: 4.8vw 4vw 3.8vw
            border-radius: 0
            border: none
            box-shadow: none
            height: 16vw
            line-height: normal
            font-size: var(--font-size-small)
            font-weight: 500
            // background: #fafafa
            background: transparent
            text-transform: uppercase
            padding-left: 18vw !important
            // box-shadow: inset 0 -2px 1px rgba(10, 10, 10, 0.05)
            border-bottom: 1px solid #dadada
            &:focus
              // background: white
              border-color: #ccc
              // transition: all 0s ease .3s
          .vacio input:not(:focus):not(:hover)
            // z-index: 22
            background: transparent

          input::placeholder
            color: #555
          input[type=date]:not(:valid):before
            content: attr(placeholder)
            background: white
            width: 100%
          input.is-danger:focus
            // border-bottom: 1px solid #a00
        .vacio .control
          input
            text-transform: none
            &:focus
              background: #fff
              text-transform: none
          .close
            z-index: 3

        .datepicker
          .control input
            text-transform: none
            font-size: var(--font-size-small)
            &.input:focus:not(:valid)
              // border-bottom: 1px solid #f00;

        .dropdown .background
          background: rgba(255,255,255,0.2)

        & div .control:before,
        & .datepicker div:not(.dropdown-menu) .control:before
          font-family: kiu
          position: absolute
          top: 50%
          left: 6vw
          z-index: 2
          font-size: 6.4vw
          transform: translate3d(0,-50%,0)
        & div .autocomplete:before
          content: 'd'
        & > div:nth-child(3) .autocomplete:before
          content: 'a'
        & .datepicker .control:before
          content: 'k'
          transform: translate3d(0,-50%,0) scale(.8)
        & .datepicker div.dropdown-menu .control:before
          content: none

div.loading
  background: white url(/img/loading.gif) no-repeat 50% 42%
  z-index: 999
  pointer-events: none
  left: 0
  right: 0
  top: 32vw
  bottom: 0
  position: fixed
  // position: absolute
  line-height: 88vh
  // background: white
  transition: all .25 ease
  // transform: translate3d(0,5%,0)
  // opacity: 0

  // &.on
  //   opacity: 1
  //   pointer-events: auto
  //   transform: translate3d(0,0,0)

.page-enter-active, .page-leave-active
  transition: opacity .25s ease, transform .4s

.page-enter, .page-leave-to
  transform: translate3d(0,1%,0)
  opacity: 0

.slide-fade-delay-enter-active,
.slide-fade-delay-leave-active
  transition: all .25s ease .5s

.slide-fade-enter-active,
.slide-fade-leave-active
  transition: all .25s ease 

.slide-fade-delay-leave,
.slide-fade-delay-enter-to,
.slide-fade-leave,
.slide-fade-enter-to
  transform: translate3d(0,0,0)
  opacity: 1

.slide-fade-delay-enter,
.slide-fade-delay-leave-to,
.slide-fade-enter,
.slide-fade-leave-to
  transform: translate3d(0,5%,0)
  opacity: 0

.selected.slide-fade-enter-active
  transition: all .25s ease .2s
.selected.slide-fade-leave-active
  transition: all .1s ease-out

.fade-enter,
.fade-leave-to
  transform: translate3d(0,5%,0)
  opacity: 0

input[type=number]::-webkit-inner-spin-button
  -webkit-appearance: none

.notices .snackbar .text
  padding: 0.5em 1em 0.4em

.switch
  vertical-align: middle

h2
  text-align: left
  padding: 5vw 5vw 4vw
  font-size: var(--title-size)
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
  box-shadow: 0 -4px 16px -12px #999 inset
h3
  text-align: left
  padding: 5vw 5vw 4vw
  font-size: var(--font-size)
  font-weight: bold
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  box-shadow: 0 -4px 16px -16px #aaa inset

button[type=submit]
  font-size: var(--icon-size)
  margin-top: 4vw
  border: none
  padding: 6.8vw 0
  width: 100%
  cursor: pointer
  color: white
  background: #fafafa
  border-top: 1px solid #eee 
  border-bottom: 1px solid #ccc
  // color: #666
  background: #5e3776
  transition: opacity .2s ease
  // opacity: .2
  &:hover
    opacity: .8
  &[disabled]
    opacity: 0
    z-index: 1
    pointer-events: none
    // height: 0
    // padding: 0
    // margin: 0 !important
    // display: none
    
.b-checkbox.checkbox
  align-items: flex-end
  .control-label
    margin: 0px 4px
    position: relative
    top: 2px

.vue-portal-target
  will-change: auto
  position: absolute
  transition: all .2s ease
  svg
    position: fixed
    pointer-events: none
    top: 0
    left: 0
    height: 100vh
    z-index: 1
    width: 100vw
    background: rgba(255, 255, 255, 0.5)
    transition: all .2s ease
    opacity: 0
    &.on
      opacity: 1

.blur
  opacity: 1
  transition: opacity .5s ease
  &.hide
    opacity: 0

.vue-portal-target:not(:empty) + div
  // filter: blur(4px)
  // overflow: hidden
  // pointer-events: none
  // opacity: 0.5

div.clear
  position: absolute !important
  top: 2vw
  right: 0vw
  padding: 3.2vw 6vw 2.5vw
  font-size: var(--font-size-small)
  text-decoration: underline
  a
    color: #999
    margin: 1vw 2vw

.b-checkbox.checkbox input[type=checkbox] + .check 
  border-color: #7b5888

@media (max-width: 800px)
  body #app
    & div > header
      height: 22vw
      border-bottom: 1px solid rgba(98, 98, 98, 0.2);
  .notices .snackbar
    position: absolute
  .icon-close,
  .selected .icon-up,
  .selected .icon-down,
  .filters .icon-refresh
    top: 0
    right: 0
    padding: 6vw 6vw 4vw
    position: absolute !important
    font-size: 6vw
    // font-size: var(--icon-size)
    line-height: var(--title-size)
  .filters .icon-refresh
    right: 12vw

  #banners
    margin: 8vw 0
    .banner
      background: url(/img/ba.jpg)
      background-size: cover
      text-align: left
      padding: 18vw 5vw 2vw
      font-size: 6vw
      margin-bottom: 6vw
      color: white
      position: relative
      &.ny
        background-image: url(/img/ny.jpg)
      b
        z-index: 1
        position: relative
      &:before
        content: ''
        top: 0
        left: 0
        right: 0
        bottom: 0
        position: absolute
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.88) 100%)
        opacity: .8
.notices
  transition: all .2s ease
  & *
  transition: all .2s ease

body #app div .datepicker
  header.datepicker-header
    height: auto
    padding: 4vw 0 6vw
  .datepicker-table .datepicker-body .datepicker-row
    .datepicker-cell.is-unselectable
      background: #f8f8f8
    .datepicker-cell.is-selected
      background-color: #6ec372
      color: #333333
    .datepicker-cell.is-today
      border-color: #6ec372
    a
      border-radius: 0
      &:not(:first-child)
        border-left: 1px solid #eee

@media (max-width: 1080px)  
  // .search section > div .datepicker .dropdown
  .datepicker-table
    width: 100%
  & .dropdown-content
    max-height: none
  .datepicker .dropdown-content
    box-shadow: none
  .dropdown.is-mobile-modal
    .dropdown-menu
      width: 100vw
      background: white
      z-index: 999
      transform: none
      position: absolute
      box-shadow: 0px 5px 10px -8px
      padding: 0px
      border-top: 1px solid rgb(238, 238, 238)
      top: 100% !important
      left: 0px !important
      transition: all .25s ease
      display: block !important
      max-width: none
    .dropdown-menu:not([style=""])
      transform: translate3d(0, -16%, 0)
      pointer-events: none
      opacity: 0
      

@media (max-width: 680px)  
  .dropdown.is-mobile-modal .dropdown-menu .dropdown-item
    padding: 0 4%
  .datepicker .datepicker-table
    width: 100%

  .pagination-list
    flex-grow: 1
    flex-shrink: 1
    justify-content: flex-start
    order: 1
  .pagination-previous
    order: 2
  .pagination-next
    order: 3
  .pagination.is-centered
    .pagination-previous,
    .pagination-next
      margin: 0
      padding: 0
      border: none
  .pagination 
    flex-wrap: nowrap
    justify-content: space-between;
  .pagination.is-centered .pagination-previous 
    order: 1
  .pagination.is-centered .pagination-list
    justify-content: center
    order: 2
  .pagination.is-centered .pagination-next
    order: 3
  .pagination.is-right .pagination-previous
    order: 1
  .pagination.is-right .pagination-next
    order: 2
  .pagination.is-right .pagination-list
    justify-content: flex-end
    order: 3
  .datepicker .field.has-addons .control:not(:last-child)
    margin-right: 2vw;
  .dropdown.is-disabled
    // opacity: 1