body
  #app
    main
      section.passengers
        .control
          label
            padding: 0vw 4vw 0vw
          input
            text-transform: none
            padding-left: 8vw !important
            &:focus
              background-color: white
