
*:not(input)::selection,
* .passangers::selection
  background: rgba(0,0,0,0)
section.searchForm
  position: relative
  & > div:first-child
    // z-index: 999
  & > div
    position: relative;
  & > div > .field
    margin: 0
    display: block
    &:not(.pagination)
      margin-top: 2vw
      position: relative
  .autocomplete
    padding: 0
    .dropdown-menu,
    .dropdown-content
      padding: 0
      padding-left: 1px
      background: white
      border-radius: 0
      box-shadow: none
      -webkit-overflow-scrolling: touch
      max-height: 68vw;
    .dropdown-menu
      z-index: 99
      top: 100%;
      bottom: auto;
      display: block !important
      pointer-events: auto
      transform: translate3d(0,0,0)
      box-shadow: 0 6vw 8vw -4vw rgba(10, 10, 10, 0.2)
      overflow-y: scroll 
      transition: all .25s ease
      // margin-top: 1px
      .dropdown-content
        padding-top: 2vw
        max-height: none
        a
          font-weight: 400
          padding: 4vw 4vw 3.5vw
          border-bottom: 1px solid #eee
          font-size: var(--font-size-small)
          b
            color: #000
            font-weight: 500
      &.dropdown-menu:not([style=""])
        opacity: 0;
        pointer-events: none
        transform: translate3d(0, -8%, 0)
        padding-top: 2vw;
      &.dropdown-menu[style=""]
        opacity: 1
        transform: translate(0,0,0)
      .dropdown-content
        padding: 0
      .dropdown-item
        color: #777

  a.close,
  a.icon-marker
    position: absolute
    right: -2px
    // top: 50%
    // transform: translate3d(0, -50%, 0)
    bottom: 2px
    cursor: pointer
    font-family: kiu
    line-height: 15vw
    font-size: 4.8vw
    padding: 0 4vw
    z-index: 1
    // z-index: 12
    // pointer-events: none
  a.close
    &:after
      content: "S"
  a.icon-marker
    right: 0vw
    color: #888888
    padding-left: 5vw
    background: #fafafa
  a.close.search
    font-size: 9.2vw
    line-height: 15vw
    padding: 0 2.4vw 0 6vw
    pointer-events: auto
    background: linear-gradient(to right, rgba(#FAFAFA,0) 0%, rgba(#FAFAFA,.96) 32%, #FFF 100%)
    &:after
      content: 'x'
      
  .input[disabled]
    // opacity: .5
    background: #fafafa
  .one-way,
  .round-trip
    & > a
      position: absolute !important
      bottom: 1px
      right: 0
      padding: 4vw 5vw 2.8vw
      line-height: 262%
      color: #000
      background: #eee
      border-left: 1px solid rgba(0,0,0,0.12)
      font-size: var(--font-size-small)
      min-width: 24vw
      font-size: 3.4vw
      font-weight: bold
      transition: .1s ease
      box-shadow: 0 1px 1px -1px rgba(0,0,0,.8)
    &.on
      & > a
        color: #244800
        box-shadow: none
        background: #b8eba1
        border-color: #bcd6b3
        // background: #dddddd;
        // background: #5e3776
        // color: white
    &.one-way:not(.on) > a,
    &.round-trip:not(.on)
      opacity: .64
    & > a
      // pointer-events: none
  .passengers
    div
      div
        display: inline-block
        position: relative
        padding: 4vw 0
        width: 28.8%
        // margin-left: -2vw
        font-size: var(--font-size-small)
        text-align: center
        margin: 2vw 0 0
        &:last-child
          // width: 30%
        & *
          vertical-align: middle
        input
          appearance: textfield
          border: none
          font-size: var(--font-size)
          text-align: center
          background-color: #f2f2f2
          width: 10vw
          display: block
          padding: 1.5vw 2vw 1vw
          margin: 0 auto 2vw
          font-weight: bold
          transition: background .2s ease
          pointer-events: none
          &.highlight
            background: #dadada
          & + b
            display: inline-block
          & + b:after
            display: block
            content: attr(title)
            font-weight: normal
            font-size: 94%
        .less, .more
          top: 0
          left: 0;
          right: auto
          font-family: kiu
          position: absolute
          padding: 4vw 2vw
          font-size: 6vw
          color: #5e3776
          // transform: translate3d(-50%, 0, 0);
          &:after
            content: 'm'
        .more
          right: 0
          left: auto
          &:after
            content: 'M'

p.help.is-danger,
.control.has-icons-right .icon.has-text-danger
  opacity: 0
  position: absolute
  pointer-events: none
  display: none
// .control.has-icons-right .icon.has-text-danger
  // display: none
  // top: auto
  // bottom: 0
  // width: 100%
  // border-bottom: 1px solid
  // display: none
  // i
