.steps
  font-size: 0
  padding-left: 0
  list-style: none
  line-height: 1
  margin: 0.8% auto
  border-radius: 3px
  overflow: hidden
  cursor: pointer
  li
    box-sizing: content-box;
    font-size: 1.2vw
    position: relative
    display: inline-block
    padding: 2% 2% 2% 8%
    width: 15%
    height: 2vw
    transition: color .5s ease
    span
      line-height: 120%
      height: 2vw
      display: table-cell
      vertical-align: middle
  li:not(.present) //:not(:hover)
    color: #444
    background: #efefef
    & + li span:before
      border-left-color: #eee
  li.present
    // ,li:hover
    color: #000
    & + li span:before
      border-left-color: #fff
      
  li > span:after,
  li > span:before
    content: ""
    display: block
    width: 0px
    height: 0px
    position: absolute
    top: 0
    left: 0
    border: solid transparent
    border-left-color: #f0f0f0
    border-width: 3vw
  li > span:after
    top: -1vw
    z-index: 1
    border-left-color: white;
    border-width: 4vw
  li > span:before
    z-index: 2

  li:first-child > span:after,
  li:first-child > span:before
    display: none

  li:first-child i,
  li:last-child i
    display: block
    position: absolute
    top: 0
    left: 0
    border: solid transparent
    border-left-color: white
    border-width: 3.2vw
  li:last-child i
    left: auto
    right: -3.2vw;
    border-left-color: transparent
    border-top-color: white
    border-bottom-color: white

@media (max-width: 880px)
  .steps
    li
      width: 20%;
      font-size: 3.6vw;
      height: 5.6vw;
      padding: 2% 0% 2% 8%;
      span
        line-height: 120%
        height: 6vw
    li:nth-child(1)
      width: 12%;
      margin-left: -5%
    li:last-child
      width: 20%;
    li > span:after,
    li > span:before
      border-width: 4.6vw
    li > span:after
      top: -1vw
      border-width: 5.6vw
    li:first-child i,
    li:last-child i
      right: -4.8vw;
      border-width: 4.8vw;
