<template>
  <div class="flight-list">

    <!-- <b-datepicker
      v-if="Object.keys(flightsReturn).length > 0"
      :month-names="$moment.months()"
      :day-names="$moment.weekdaysMin()"
      class="icon-edit"
      ref="return"
      @input="refresh"
      :mobile-native="false"
      v-model="return_date"
      :date-formatter="formatDate">
    </b-datepicker> -->

    <ul>
      <li>
        <div class="head">
          <div class="col2">
            <div class="code">{{ flights[0].origin }}</div>
            <div class="city">{{ flights[0].origin_city }}</div>
          </div>

          <div class="col2">
            <div class="icon-flight"></div>
            <div class="type"></div>
          </div>

          <div class="col2">
            <div class="code">{{ flights[0].destination }}</div>
            <div class="city">{{ flights[0].destination_city }}</div>
          </div>

          <!-- <span :class="{ on: selected.price }" class="collapse-departure-icon">
            <a class="icon-up"></a>
          </span> -->
        </div>
      </li>
      <li>
        <b-datepicker
          :month-names="$moment.months()"
          :day-names="$moment.weekdaysMin()"
          class="icon-edit"
          :mobile-native="false"
          v-model="today"
          :date-formatter="formatDate"
          >
      <!-- @input="refresh" -->
      <!-- ref="return" // !!! -->
        </b-datepicker>
      </li>
      <li v-for="(f, index) in flights" :key="index+'x'">
        <div class="flight"><!-- Si se repite el header lo omito -->          

          <div v-if="f.direct"  class="fil">
            <div class="col">
              <div class="time icon-departure" :data-time="f.departure_time"></div>
            </div>
            <div class="col">
              <div class="flight-number"> {{ f.carrier }} # {{ f.flight_number }} </div>
              <div class="total-time">Duration 🕒 
                <span v-if="f.time_on_fly.hours != '00'">{{ f.time_on_fly.hours }}h</span>
                <span v-if="f.time_on_fly.min != '00'">{{ f.time_on_fly.min }}m</span>
              </div>
            </div>
            <div class="col">
              <div class="time icon-arrival" :data-time="f.arrival_time"></div>
            </div>
          </div>
          <div v-if="!f.direct">
            <div class="fil" v-for="(stop, index) in (f.stops)" :key="index+'stop'">
              <div class="col">
                <div class="time icon-departure"></div>
                <div>{{stop.origin}}</div>
                <div>{{stop.departure_time}}</div>
              </div>
              <div class="col">
                <div class="flight-number"> {{ stop.carrier }} # {{ stop.flight_number }} </div>
                <div class="total-time">Duration 🕒 
                  <span v-if="stop.time_on_fly.hours != '00'">{{ stop.time_on_fly.hours }}h</span>
                  <span v-if="stop.time_on_fly.min != '00'">{{ stop.time_on_fly.min }}m</span>
                </div>
              </div>
              <div class="col">
                <div class="time icon-arrival"></div>
                <div>{{stop.destination}}</div>
                <div>{{stop.arrival_time}}</div>
              </div>
              <div v-if="index != Object.keys(f.stops.length) -1 && stop.time_on_stop"
                class="connection-time">
                Connection Time 
                <span v-if="stop.time_on_stop.days">{{stop.time_on_stop.days}}d</span>
                <span v-if="stop.time_on_stop.hours">{{stop.time_on_stop.hours}}h</span>
                <span v-if="stop.time_on_stop.min">{{stop.time_on_stop.min}}m</span>
                </div>
            </div>
          </div>

          <!-- :class="{'rbds-class': true, ' vueloSelec ': r.flightSelected == true}"> -->
          <div class="prices">
            <div v-for="(r, index) in f.rbds" :key="index+'price'" 
              @click="onSelected(r,f)"
              :class="{
                'on': value.price == r,
                'sold-out': r.available==0 }">

              <div class="class">{{ r.title ? r.title : r.reference }}</div>
              <a> {{ currency }} 
                <span>{{ f.direct ?
                  parseInt(r.total_amount) : amountDivided(r.total_amount) }}</span>
              </a>
              <div class="rbds-class">
                  <!-- :class="r.reference,  r.fare_type" -->
                  <span v-if="r.available == 0">Sold out</span>
                  <span v-if="r.available == 1">Last seat</span>
                  <span v-if="r.available == 9">Available</span>
                  <span v-if="r.available > 1 && r.available < 9">
                  Last {{ r.available }} seats</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: [
    'flights',
    'value',
  ],
  computed: {
  },
  data() {
    return {
      today: new Date(),
      currency: this.flights[0].rbds[0].currency
    }
  },
  methods: {
    formatDate(date) {
      return this.$moment(date).format('dddd, LL')
    }, 
    onSelected(r,f){
      this.$emit('input', { price: r, flight: f })
    },
    amountDivided(price) {
      // QUE significa rbds ?!?
      return (parseFloat(price) / 2).toFixed(2)
    },
  }
}
</script>

<style>
  .flight-list {
    transition: all .4s;
    margin-bottom: 24vw
  }
  .flight-list.hide {
    left: 0; right: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0,4vw,0);
    
  }
</style>
