<template>
  <span class="lang-switcher">
    <b-dropdown v-model="locale">
      <a slot="trigger" :class="locale"></a>
      <b-dropdown-item v-for="(locale, i) in showLocales" :key="i"
         :value="locale.code" :class="locale.code" :title="locale.name"></b-dropdown-item>
    </b-dropdown>
  </span>
</template>

<script>
      // <a slot="trigger">{{ $i18n.locale }}</a>
      //   :value="locale.code" :title="locale.name"></b-dropdown-item>

import { mapFields } from 'vuex-map-fields';

export default {
  name: 'LangSwitcher',
  computed: {
    ...mapFields([
      'locales',
      'locale'
    ]),
    showLocales () {
      return this.locales.filter(locale => locale.code !== this.$i18n.locale)
    }
  },
  watch: {
    locale() {
      // console.log(this.locale)
      this.$moment.locale(this.locale)
      this.$i18n.locale = this.locale
      // document.cookie = `locale=${this.locale}`;
    }
  }
}
</script>

<style lang="sass">
.lang-switcher
  padding: 0 
  z-index: 1
  top: 5vw
  right: 2vw
  position: absolute
  .dropdown-trigger:after
    content: 'b'
    font-family: kiu
    padding: 0 2vw
    font-size: var(--font-size-small)
    pointer-events: none
    color: white
    // color: black
    vertical-align: top
  .dropdown-content
    padding: 1vw 0
  .dropdown-item
  a
    width: 7.2vw
    height: 4.8vw
    background: no-repeat 50% 50%
    background-size: cover
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5)
    margin: 5vw 7vw 5vw
    padding: 0 !important
    display: block
    // color: black
    // font-size: 4.2vw
    // width: auto
    // &:after
    //   content: attr(title)
  .dropdown-trigger
    a
      // width: auto
      // color: white
      // font-size: 4.2vw
      margin: 0
      padding: 2vw
      display: inline-block
  .en
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23f0f0f0' d='M0 85.333h512V426.67H0z'/%3E%3Cpath fill='%23d80027' d='M288 85.33h-64v138.666H0v64h224v138.666h64V287.996h224v-64H288z'/%3E%3Cg fill='%230052b4'%3E%3Cpath d='M393.785 315.358L512 381.034v-65.676zM311.652 315.358L512 426.662v-31.474l-143.693-79.83zM458.634 426.662l-146.982-81.664v81.664z'/%3E%3C/g%3E%3Cpath fill='%23f0f0f0' d='M311.652 315.358L512 426.662v-31.474l-143.693-79.83z'/%3E%3Cpath fill='%23d80027' d='M311.652 315.358L512 426.662v-31.474l-143.693-79.83z'/%3E%3Cg fill='%230052b4'%3E%3Cpath d='M90.341 315.356L0 365.546v-50.19zM200.348 329.51v97.151H25.491z'/%3E%3C/g%3E%3Cpath fill='%23d80027' d='M143.693 315.358L0 395.188v31.474l200.348-111.304z'/%3E%3Cg fill='%230052b4'%3E%3Cpath d='M118.215 196.634L0 130.958v65.676zM200.348 196.634L0 85.33v31.474l143.693 79.83zM53.366 85.33l146.982 81.664V85.33z'/%3E%3C/g%3E%3Cpath fill='%23f0f0f0' d='M200.348 196.634L0 85.33v31.474l143.693 79.83z'/%3E%3Cpath fill='%23d80027' d='M200.348 196.634L0 85.33v31.474l143.693 79.83z'/%3E%3Cg fill='%230052b4'%3E%3Cpath d='M421.659 196.636L512 146.446v50.19zM311.652 182.482V85.331h174.857z'/%3E%3C/g%3E%3Cpath fill='%23d80027' d='M368.307 196.634L512 116.804V85.33L311.652 196.634z'/%3E%3C/svg%3E");
  .es
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffda44' d='M0 85.331h512v341.337H0z'/%3E%3Cg fill='%23d80027'%3E%3Cpath d='M0 85.331h512v113.775H0zM0 312.882h512v113.775H0z'/%3E%3C/g%3E%3C/svg%3E");
  .it
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23f0f0f0' d='M341.334 85.33H0v341.332h512V85.33z'/%3E%3Cpath fill='%236da544' d='M0 85.333h170.663V426.67H0z'/%3E%3Cpath fill='%23d80027' d='M341.337 85.333H512V426.67H341.337z'/%3E%3C/svg%3E");
  .fr
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23f0f0f0' d='M0 85.331h512v341.337H0z'/%3E%3Cpath fill='%230052b4' d='M0 85.331h170.663v341.337H0z'/%3E%3Cpath fill='%23d80027' d='M341.337 85.331H512v341.337H341.337z'/%3E%3C/svg%3E");

  .dropdown.is-mobile-modal 
    .dropdown-menu
      max-width: none
      min-width: auto
      width: auto
      transform: translate3d(-20%, 12%, 0)
    .dropdown-menu:not([style=""])
      transform: translate3d(-20%, -25%, 0)

</style>