<template>  
  <div class="slider-input">
    <vue-slider v-bind="options" :value="value" v-on:input="$emit('input', $event)">
      <div slot="tooltip" slot-scope="tooltip">
        <!-- TODO: pasar formato de tooltip por prop -->
        {{ iniValue[1] > 24 ? "$" : '' }}{{ tooltip.value }}{{ iniValue[1] == 24 ? ":00" : '' }}
      </div>
    </vue-slider>
  </div>
</template>

<script>

// import vueSlider from 'vue-slider-component'

export default {
  props: {
    iniValue: Array,
    value: { type: [Array, Number, String] }
  },
  // components: {
  //   vueSlider
  // },
  data () {
    return {
      // tooltip : '',
      options: {
        // value: this.value,
        eventType: 'auto',
        width: 'auto',
        height: 6,
        dotSize: 16,
        dotHeight: null,
        dotWidth: null,
        // min: 0,
        // max: 24,
        min: this.iniValue[0],
        max: this.iniValue[1],
        interval: 1,
        show: true,
        speed: 0.5,
        disabled: false,
        piecewise: false,
        piecewiseStyle: false,
        piecewiseLabel: false,
        tooltip: "always",
        tooltipDir: 'top',
        reverse: false,
        data: null,
        clickable: true,
        realTime: false,
        lazy: true,
        // formatter: (v) => `${v}`,
        // bgStyle: null,
        sliderStyle: null,
        // processStyle: null,
        piecewiseActiveStyle: null,
        piecewiseStyle: null,
        // tooltipStyle: null,
        labelStyle: null,
        labelActiveStyle: null,
        // tooltipStyle: {
        //   "backgroundColor": "#666",
        //   "borderColor": "#666"
        // },
        // processStyle: {
        //   "backgroundColor": "#999"
        // }
      }
    }
  },
  watch: {
  }
}
</script>

<style lang="sass">
  .vue-slider-component
    .vue-slider-tooltip-wrap.vue-slider-tooltip-top
      top: -2px
      cursor: pointer
      white-space: nowrap
      div
        padding-bottom: 10vw;
        margin-bottom: -10vw;
        font-size: var(--font-size-small);
</style>