<template>
  <ul class="days">
    <li v-for="(d,index) in days" :style="d.barStyle" :class="{ on: selected(d) }"
      :key="index" :number="d.number" @click="changeDate(d)">
      {{ d.name }} <i :style="d.color"> ${{ d.price }} </i>
    </li>
  </ul>
</template>

<script>

import { mapFields } from 'vuex-map-fields'

export default {
  props: [
    'days'
  ],
  computed: {
    ...mapFields([
      'departure_date'
    ])
  },
  methods: {
    changeDate(d){
      this.departure_date = this.$moment(d.date, 'DD-MM-YYYY').toDate()
    },
    selected(d){
      return this.$moment(this.departure_date).format('DD-MM-YYYY') == d.date
    }
  },
  mounted() {
    setTimeout(()=>{
      let day = this.$moment(this.departure_date).format('DD')
      let el = document.querySelector('li[number="'+day+'"]')
      if(el) el.scrollIntoViewIfNeeded()
    },0)
    // this.$moment.locale(this.$i18n.locale)
  }
}
</script>

<style>
.days {
  white-space: nowrap;
  margin: 4vw 2vw 0;
  width: 96vw;
  overflow: hidden;
  overflow-x: scroll;
  padding-bottom: 8vw;
  -webkit-overflow-scrolling: touch;
  height: 48vw;
}
  .days li {
    display: inline-block;
    /* width: 7vw; */
    font-size: 3.4vw;
    margin-right: 1vw;
    background: #eee;
    writing-mode: tb-rl;
    padding: 3vw 2vw 3vw 0;
    padding: 3vw 3vw;
    text-align: right;
    position: relative;
    border-bottom: 1px solid #eee;
  }
    .days li:after {
      content: attr(number);
      font-weight: 600;
      margin-top: 1vw;
    }
    .days li i {
      top: 100%;
      font-size: 3.6vw;
      -webkit-text-stroke-width: .2px;
      padding: 2vw 0;
      left: 0; right: 0;
      font-style: normal;
      text-align: center;
      position: absolute;
      writing-mode: initial;
      border-bottom: 2px solid #eee;
    }
  .days li:last-child {
    margin: 0;
  }
  .days li.on {
    pointer-events: none
  }
    .days li.on i {
      border-color: #3bab46;
    }
</style>