<template>
  <ul class="steps">
    <li :class="{ present: $route.path == '/'}" @click="$router.push('/')">
      <span>{{ $t('steps.search') }}</span><i></i>
    </li> {{$route.path }}
    <li :class="{ present: $route.path == '/availability/'}" @click="$router.push('/availability/')">
      <span>{{ $t('steps.availability') }}</span><i></i>
    </li>
    <li :class="{ present: $route.path == '/passengers/'}" @click="$router.push('/passengers/')">
      <span>{{ $t('steps.passengers') }}</span><i></i>
    </li>
    <li :class="{ present: $route.path == '/purchase/'}">
      <span>{{ $t('steps.purchase') }}</span><i></i>
    </li>
  </ul>
</template>
<script>
export default {}
</script>
<style lang="sass" src="../assets/sass/steps.sass"></style>
