<template>

  <div id="app">
    <portal-target name="overlay"></portal-target>
    <div class="blur" :class="{ hide: !load }">
      <header>
        <langSwitcher />
      </header>
      <steps />
      <main>
        <nuxt />
      </main>
    </div>
  </div>
</template>

<script>

// var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) 

// if(!iOS && !location.href.match(/duplica/)) {
//   // pestana o ventana duplicada.
//   if(localStorage.opened==1) {
//     location.href = '/duplicated'
//   } else { // si no estoy en duplicado y no es la primer 
//     localStorage.opened = 1
//     var clear = () => { localStorage.opened = 0 }
//     window.addEventListener("unload",clear,false);
//     window.addEventListener("pagehide",clear,false);
//     window.addEventListener("beforeunload",clear,false);
//   }
// }

import langSwitcher from '~/components/langSwitcher'

import { mapFields } from 'vuex-map-fields';
import steps from '@/components/steps'
import Vue from 'vue'

import PortalVue from 'portal-vue'
Vue.use(PortalVue)

// import Vue2TouchEvents from 'vue2-touch-events'
// Vue.use(Vue2TouchEvents, {
  //   // swipeTolerance: 320
// })

import Ripple from 'vue-ripple-directive'
Ripple.color = 'rgba(255, 255, 255, 0.36)';
Ripple.zIndex = 55
Vue.directive('ripple', Ripple);``

var addEventListeners = (s, ev, fn) => {
  document.querySelectorAll(s).forEach((elem) => {
    elem.addEventListener(ev, fn)
  })
}

export default {
  name: 'app',
  data() {
    return {
      load: false
    }
  },
  computed: {
    ...mapFields([
      'locale'
    ])
  },
  head () {
    return {
      title: 'Kibe . ' // + this.step
    }
  },
  // watch:{
  //   $route (e){
  //     // console.log(e)
  //     this.step = e.path.split('/')[1]
  //   }
  // },
  fetch () {
    // console.log(this.$store.locale)
    this.$i18n.locale = this.$store.locale
  },
  mounted() {
    this.$moment.locale(this.$i18n.locale)
    this.$i18n.locale = this.locale
    setTimeout(()=>{ // animacion
      this.load = true
    }, 360)
    // if (this.$route.hash) {
    //   document.querySelector(this.$route.hash).scrollIntoView()
    // }
    // PWA on ios al reabrir recarga url predefinida.
    // console.log('>',this.step=='/')

    // if(this.step=="/" && location.pathname!=this.step) {
      // this.$router.push(this.step)
    // }
  },
  components: {
    steps,
    langSwitcher
  }
}
</script>