/* hind-300 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/hind-v8-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Hind Light'), local('Hind-Light'),
       url('fonts/hind-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/hind-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/hind-v8-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/hind-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/hind-v8-latin-300.svg#Hind') format('svg'); /* Legacy iOS */
}
/* hind-regular - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/hind-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Hind Regular'), local('Hind-Regular'),
       url('fonts/hind-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/hind-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/hind-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/hind-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/hind-v8-latin-regular.svg#Hind') format('svg'); /* Legacy iOS */
}
/* hind-600 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/hind-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Hind SemiBold'), local('Hind-SemiBold'),
       url('fonts/hind-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/hind-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/hind-v8-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/hind-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/hind-v8-latin-600.svg#Hind') format('svg'); /* Legacy iOS */
}