@charset "UTF-8";

@font-face {
  font-family: "kiu";
  src:url("fonts/kiu.eot");
  src:url("fonts/kiu.eot?#iefix") format("embedded-opentype"),
    url("fonts/kiu.woff") format("woff"),
    url("fonts/kiu.ttf") format("truetype"),
    url("fonts/kiu.svg#kiu") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kiu" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kiu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrivalx:before {
  content: "\44";
}
.icon-close-small:before {
  content: "\78";
}
.icon-close:before {
  content: "\58";
}
.icon-up:before {
  content: "\63";
}
.icon-down:before {
  content: "\62";
}
.icon-search:before {
  content: "\53";
}
.icon-calendar:before {
  content: "\6b";
}
.icon-left-dir:before {
  content: "\6d";
}
.icon-left-open:before {
  content: "\6c";
}
.icon-right-open:before {
  content: "\72";
}
.icon-right-dir:before {
  content: "\4d";
}
.icon-departure:before {
  content: "\61";
}
.icon-plane:before {
  content: "\65";
}
.icon-plane-1:before {
  content: "\66";
}
.icon-flight:before {
  content: "\67";
}
.icon-filter:before {
  content: "\7a";
}
.icon-back:before {
  content: "\69";
}
.icon-reload:before {
  content: "\70";
}
.icon-refresh:before {
  content: "\71";
}
.icon-bell:before {
  content: "\6e";
}
.icon-sort:before {
  content: "\73";
}
.icon-pencil:before {
  content: "\6f";
}
.icon-edit:before {
  content: "\74";
}
.icon-marker:before {
  content: "\75";
}
.icon-arrival:before {
  content: "\64";
}
