<template>
  <section class="flights">

    <template v-if="!loading">
      <h2>{{ flightSelected.price ? 'Return':'Departure' }} Flight</h2>
      <sliderPrices v-if="days.length>0" :days="days" /> 
      <!-- v-model="departure_date" /> -->
      <div class="left">
        <a class="icon-refresh" @click="refresh(); filterReset()"></a>
        <a class="icon-back" @click="$router.push('/')"></a>
        <a class="icon-filter" @click="filters.show=!filters.show"
          :class="{ change: filterChanged }"></a>
      </div>

      <flightList 
        :flights="flightsGoing"
        :class="{ hide: flightSelected.flight && search.return_flight }"
        v-model="flightSelected" />

      <flightList
        :flights="flightsReturn"
        :class="{ hide: !flightSelected.flight }"
        v-if="flightSelected.flight && search.return_flight"
        v-model="flightReturnSelected" />
        <!-- @onSelected="e => { flightReturnSelected = e }" /> -->
        <!-- && !flightReturnSelected.price" -->

      <!-- v-if="{ float: !agree && flightSelected.flight && flightReturnSelected.flight }"> -->
      <div class="agree float"
        v-if="!agree && isComplete">
        <b-checkbox v-model="agree">To continue agree to the <a>terms of service</a></b-checkbox>
      </div>
      <div>
        <!-- check v-if button -->
        <button type="submit" 
          v-if="isComplete && agree"
          :disabled="!flightSelected.flight || !agree"
          @click="submit">Continue</button>
      </div>

      <transition name="slide-fade"> <!-- selected flight -->
        <div class="selected" :class="{
          hide: !showSummary,
          full: isComplete }">
          <div>
            <a class="icon-up"
              :class="{
                'icon-down': showSummary,
                hide: isComplete }"
              @click="showSummary=!showSummary"
            ></a>
              <!-- v-if="!flightSelected.flight || !flightReturnSelected.flight" -->
            <h3>Booking summary</h3>

            <div>
              <b>{{ search.adults+search.minors+search.infants }} passenger</b>
              ( {{ search.adults ? search.adults + ' adults' : ''  }}
              {{ search.minors ? ', ' + search.minors + ' minors' : ''  }}
              {{ search.infants ? ', ' + search.infants + ' infants' : ''  }} )
            </div>

            <div class="icon-flight date">
              <b>{{ formatDate(this.departure_date) }}</b>
            </div>

            <template v-if="flightSelected.flight">
              <a class="icon-trash" @click="
                flightSelected = {
                  flight: null,
                  price: null
                }">Clear</a>

              <div class="icon-departure">
                <b>{{ flightSelected.flight.departure_time }}</b>
                {{ flightSelected.flight.origin_city }}
              </div>
              <div class="icon-arrival">
                <b>{{ flightSelected.flight.arrival_time }}</b>
                {{ flightSelected.flight.destination_city }}
              </div>

              <div class="details">
                <!-- <div class="flight-number">
                  Flight {{ flightSelected.flight.carrier }}
                  # {{ flightSelected.flight.flight_number }}
                </div> -->
                <b>Duration</b>
                  {{ flightSelected.flight.time_on_fly.hours ?
                    flightSelected.flight.time_on_fly.hours+'h':'' }}
                  {{ flightSelected.flight.time_on_fly.min }}m 
                <!-- <br> -->
                <b>{{ flightSelected.price.title }}</b>
                Direct Flight
              </div>
            </template>

            <div v-if="search.return_flight" class="icon-flight reverse date">
              <b>{{ formatDate(this.return_date) }}</b>
            </div>

            <template v-if="flightReturnSelected.flight">
              <a class="icon-trash" @click="
                flightReturnSelected = {
                  flight: null,
                  price: null
                }">Clear</a>

              <div class="icon-departure">
                <b>{{ flightReturnSelected.flight.departure_time }}</b>
                {{ flightReturnSelected.flight.origin_city }}
              </div>
              <div class="icon-arrival">
                <b>{{ flightReturnSelected.flight.arrival_time }}</b>
                {{ flightReturnSelected.flight.destination_city }}
              </div>

              <div class="details">
                <!-- <div class="flight-number">
                  Flight {{ flightReturnSelected.flight.carrier }}
                  # {{ flightReturnSelected.flight.flight_number }}
                </div> -->
                <b>Travel Time</b>
                  {{ flightReturnSelected.flight.time_on_fly.hours }}h
                  {{ flightReturnSelected.flight.time_on_fly.min }}m 
                <!-- <br> -->
                <b>{{ flightReturnSelected.price.title }}</b>
                Direct Flight
              </div>
            </template>

              <div class="price" v-if="isComplete">
                <div>
                  Base rate per adult
                  <b>{{ currency }} {{ flightSelected.price.adult.base_price }}</b> <!-- .toFixed(2) -->
                </div>
                <div>
                  Fees / Taxes per adult
                  <b>{{ currency }} {{ flightSelected.price.adult.total_taxes.toFixed(2) }}</b>
                </div>
                <div>
                  Total 
                  <b>{{ currency }} {{ summary.total }}</b>
                </div>
              </div>
          </div>
        </div>
      </transition>
    </template>
      
    <portal to="overlay">
      <!-- para efecto blur: To do: mover a default layout -->
      <svg xmlns="http://www.w3.org/2000/svg" :class="{ on: filters.show }">
        <defs>
          <filter id="blur">
            <feGaussianBlur in="SourceGraphic" stdDeviation="4,4"></feGaussianBlur>
          </filter>
        </defs>
      </svg>
      <style v-if="filters.show"> .blur { filter: url(#blur) } </style>

      <transition name="slide-fade"><div class="loading" v-if="loading"></div></transition>

      <transition name="slide-fade"> <!-- Filter modal -->
        <div class="filters" v-if="filters.show">
          <h2>Filter flights</h2>

          <a class="icon-refresh" @click="filterReset" v-if="filterChanged"></a>
          <a class="icon-close" @click="filters.show=false"></a>

          <div class="flex">
            <b @click="$hideParent">Schedule</b>
            <slider v-model="filters.schedule" :iniValue="filters.scheduleIni" />
          </div>
          <div class="flex">
            <b @click="$hideParent">Price</b>
            <slider v-model="filters.prices" :iniValue="filters.pricesIni" />
          </div>
          <div>
            <b @click="$hideParent">Classes</b>
            <ul class="classes">
              <li v-for="(c,index) in filters.classes" :key="'classes'+index">
                <div class="field">
                  <b-switch v-model="filters.classes[index]"> {{ index }} </b-switch>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <b @click="$hideParent">Availability</b>
            <div class="field">
              <b-switch v-model="filters.onlyAvailable"> Only available flights </b-switch>
            </div>
          </div>
          <div>
            <b @click="$hideParent">Combinations</b>
            <div class="field">
              <b-switch disabled v-model="filters.combinations"> Show combinations </b-switch>
            </div>
          </div>
        </div>
      </transition>
    </portal>
    <!-- <pre>{{ search }}</pre> -->
    <!-- <div id="banners">
      <h3>Popular destinations</h3>
      <div class="banner" v-ripple.300>
        <b>Buenos Aires</b>
      </div>
      <div class="banner ny" v-ripple.300>
        <b>New York</b>
      </div> 
    </div> -->
  </section>
</template>

<style lang="sass" src="@/assets/sass/availability.sass"></style>

<script>

import Vue from 'vue'; 

// import axios from 'axios'; 
// axios.defaults.xsrfCookieName = 'csrftoken'
// axios.defaults.xsrfHeaderName = 'X-CSRFToken'
// import querystring from 'querystring'

import slider from '@/components/sliderInput'
import sliderPrices from '@/components/sliderPrices'
import flightList from '@/components/flightList'
// import summary from '@/components/summary'
import { mapFields } from 'vuex-map-fields'

export default {
  data() {
    return {
      days: [],
      res: '',
      send: {},
      flightSelected: {
        flight: null,
        price: null
      },
      flightReturnSelected: {
        flight: null,
        price: null
      },
      summary: {
        total: null
      },
      filters: {
        show: false,
        schedule: [0,24],
        scheduleIni: [0,24],
        prices: [0,10000],
        pricesIni: [0,10000],
        onlyAvailable: true,
        combinations: false,
        classes: {}
      },
      // departure_date: new Date(),
      loading: true,
      agree: false,
      flightsGoing: [],
      flightsReturn: [],
      sessionid: null,
      showSummary: false,
    }
  },
  computed: {
    isComplete(){
      return this.flightSelected.price && 
        (this.flightReturnSelected.price || this.flightsReturn.length==0|| !this.return_date)
    },
    filterChanged(){
      return this.filters.prices.join(',') != this.filters.pricesIni.join(',')
      || this.filters.schedule.join(',') != this.filters.scheduleIni.join(',')
      || !Object.values(this.filters.classes).every(e => e)
      || !this.filters.onlyAvailable
    },
    ...mapFields([
      'search',
      'origin',
      'destination',
      'departure_date',
      'return_date',
      'token',
      'flights',
    ]),
  },
  watch: {
    departure_date(val) {
      // this.search.departure_date = this.$moment(val).format("DD-MM-YYYY")
      this.searchFlights()
    },
    flightSelected(val){
      this.showSummary = true
      if (val.flight && val.flight.return_flights) {
        this.flightsReturn = val.flight.return_flights
        this.amountDividedReturn()
        this.summary.total = this.flightSelected.price.total
        // this.direct ?
          // this.flightSelected.price.total_amount :
          // this.flightSelected.price.total_amount_divided
      }
    },
    flightReturnSelected(val){
      this.showSummary = true
      if (val.price) {
        if (this.flightSelected.price.total_amount > this.flightReturnSelected.price.total_amount) {
          this.summary.total = this.flightSelected.price.total_amount
        } else {
          this.summary.total = this.flightReturnSelected.price.total_amount
        }
      }
    }
  },
  methods: {
    formatDate(date) {
      return this.$moment(date).format('dddd, LL')
    }, 
    filterReset(){
      this.filters.onlyAvailable = true
      this.filters.prices = this.filters.pricesIni
      this.filters.schedule = this.filters.scheduleIni
      for(var i in this.filters.classes) this.filters.classes[i] = true
    },
    clearSelected(dir,event) {
      this.selected = {
        flight: null,
        price: null
      }
    },
    refresh() {
      this.loading = true
      this.clearSelected()
      setTimeout(()=>{
        this.loading = false
      }, 1200)
    },
    submit() {
      this.$router.push('/passengers/')
    },
    pricesPerDay() {
      var day = this.$moment()
      var lastDay = this.$moment(day).add(15, 'days')

      let end = '/'+this.search.origin+'_'+this.search.destination+'.json'
      fetch(end).then(r => r.json()).then(dates=>{
  
        while(day <= lastDay) {

          let formated = day.format('DD-MM-YYYY')
          let h = Math.floor((Math.random() * 5) + 5) // ! hardcodeo
          // console.log(dates[formated])
          this.days.push({
            date: formated,
            price:  dates[formated].going,
            name: day.format('dddd'),
            number: day.format('DD'),
            barStyle: `background: rgba(202,238,200,.${12-h}); height: ${h*2+20}vw`,
            color: `color: rgba(12,114,12,.${14-h})`,
          })
          day.add(1, 'days')
        }        
      })
      .catch(error => { console.log('Fetching price per day', error) })
    },
    searchFlights() {
      // var send = this.search
      // console.log('this.search', this.search)

      var end = process.env.baseUrl+'/get_availability/'      

      let data = { ...this.search }
      // if(!data.origin) this.$router.push('/')
      // data.departure_date = this.$moment(this.departure_date).format('DD-MM-YYYY')
      // data.return_date = this.$moment(this.return_date).format('DD-MM-YYYY')

      var send = this.$toFormData(data)

      var success = res => {
        this.loading = false
        this.flights = res.data ? res.data : res //.
        this.flightsGoing = this.flights.going
        this.currency = this.flightsGoing[0].rbds[0].currency;
        // this.amountDividedGoing()
        this.rangePrices()
        this.flightClasses()
      }
      var payload = {
        credentials: "include",
        method: 'POST',
        body: send,
      }
      // payload = {}
      // end = '/flights2.json'
      end = '//booking-information.xx.dev.kiusys.net/api/get_availability/'
      fetch(end, payload).then(r=>r.json())
      // axios.post(end, querystring.stringify(this.search))
      .then(success)
      .catch(error => {
        console.log(error)
      })

    },
    amountDivided(price) {
      // QUE significa rbds ?!?
      return (parseFloat(price) / 2).toFixed(2)
    },
    // amountDividedReturn() {
    //   for (var i in this.flightsReturn) {
    //     let rbd_data = this.flightsReturn[i].rbds;
    //     for (var ii in rbd_data) {
    //       if (rbd_data[ii]) {
    //         rbd_data[ii].total_amount_divided =
    //           parseFloat(rbd_data[ii].total_amount -
    //           parseFloat(this.flightSelected.price.total_amount_divided)).toFixed(2)
    //       }
    //     }
    //   }
    // },
    amountDividedReturn() {
      for (var i in this.flightsReturn) {
        let rbd_data = this.flightsReturn[i].rbds;
        for (var ii in rbd_data) {
          if (rbd_data[ii]) {
            rbd_data[ii].total_amount_divided =
              parseFloat(rbd_data[ii].total_amount -
              parseFloat(this.flightSelected.price.total_amount_divided)).toFixed(2)
          }
        }
      }
    },
    rangePrices() {
      var max = 0
      var min = Number.MAX_VALUE
      let flights = [...this.flightsGoing,...this.flights.return]
      flights.forEach((e)=>{
        e.rbds.forEach((p)=> {
          let total = parseInt(p.total_amount)
          if(total > max) max = total
          if(total < min) min = total
        })
      })
      let r = [min,max]
      this.filters = {
        ...this.filters,
        pricesIni: r,
        prices: r
      }
    },
    flightClasses(){
      let flights = [...this.flightsGoing,...this.flights.return]
      // array de classes por vuelo
      let arr = flights.map(e => e.rbds.map(r => r.reference)).join(',').split(',')
      let uniques = [...new Set(arr)] // sin valores duplicados
      uniques.forEach(e => { 
        this.filters.classes[e] = true
      })
    },
    filteredFlights(arr,departure){

      console.log(arr.rbds)
      return arr.rbds
      // return arr.rbds.filter(r => {
      //   return  this.filters.classes[r.reference] &&
      //     this.filters.prices[0] < r.total_amount &&
      //     this.filters.prices[1] > r.total_amount &&
      //     this.filters.schedule[0] < departure.slice(0,2) &&
      //     this.filters.schedule[1] > departure.slice(0,2) &&
      //     (r.available > 0 || !this.filters.onlyAvailable)
      // })
    },
    selectedd(e){
      console.log('xxxx',e)
      this.flightSelected = e
    }
  },
  mounted(){
    this.departure_date =
      this.$moment(this.search.departure_date, ["DD/MM/YYYY"]).toDate()

    this.searchFlights()
    // this.pricesPerDay()
  },
  components: {
    slider,
    sliderPrices,
    flightList
  }
}
</script>