<template>
  <section class="flights">
    <div>
      <b>Another tab opened</b>
      Close this one and continue with the other one.
    </div>
  </section>
</template>

<script>

if(localStorage.opened==0) location.href = '/'

</script>

<style lang="sass" scoped>
  div
    text-align: center
    background: url(/icon.png) 50% 25% no-repeat
    background-size: 50% auto
    padding: 64vw 20vw 0
    b
      display: block
      color: #444
</style>