<template>
  <form @submit.prevent="submit">
    <section class="searchForm">
      <h3>{{ $t('search_title') }}</h3>
      <div class="clear">
        <a @click="clearForm()">Clear form</a>
        <a @click="requestNotifications()">Alerts</a>
      </div>
      <div>
        <b-field :label="$t('origin')" :class="{ vacio: !origin }">
          <b-autocomplete
            required
            @focus="scroll"
            :placeholder="$t('placeholder.airport')"
            v-model.trim="origin"
            :open-on-focus="true"
            :data="filteredAirports('origin','destination')"
            field="value" ref="origin">
          </b-autocomplete>
          <a class="close" :class="{ search: origin }" @click="close('origin')"></a>
          <a class="icon-marker" v-if="!origin" @click="getLocation(filterLocation)"></a>
        </b-field>
      </div>
      <div>
        <b-field :label="$t('destination')" :class="{ vacio: !destination }">
          <b-autocomplete 
            required
            @focus="scroll"
            :placeholder="$t('placeholder.airport')"
            v-model.trim="destination"
            :open-on-focus="true"
            :data="filteredAirports('destination','origin')"
            field="value" ref="destination">
          </b-autocomplete>
          <a class="close" :class="{ search: destination }" @click="close('destination')"></a>
        </b-field>
      </div>
      <div class="one-way" :class="{ on: !roundTrip }"  v-ripple.300>
        <b-field :label="$t('departure')">
            <!-- @input="filterDate" -->
          <b-datepicker
            :month-names="$moment.months()"
            :day-names="$moment.weekdaysMin()"
            required
            @focus="scroll"
            ref="departure"
            v-model="trips[0].date"
            :min-date="trips[0].minDate"
            :max-date="trips[0].maxDate"
            :placeholder="$t('placeholder.departure')" 
            :mobile-native="false"
            :unselectable-days-of-week="trips[0].daysOff"	
            :date-formatter="formatDate">
          </b-datepicker>
        </b-field>
        <a @click="roundTrip=false">{{ $t('one_way') }}</a>
      </div>
      <div v-ripple class="round-trip" @click="activateRoundTrip()" :class="{ on: roundTrip }" >
      <!-- @input="filterDate" -->
        <b-field :label="$t('return')">
          <b-datepicker
            :month-names="$moment.months()"
            :day-names="$moment.weekdaysMin()"
            ref="return"
            @focus="scroll"
            v-model="trips[1].date"
            :min-date="trips[1].minDate"
            :max-date="trips[1].maxDate"
            :disabled="!roundTrip"
            :placeholder="$t('placeholder.return')" 
            :mobile-native="false"
            :unselectable-days-of-week="trips[1].daysOff"	
            :date-formatter="formatDate">
          </b-datepicker>
        </b-field>
        <a>{{ $t('round_trip') }}</a>
      </div>
      <div class="passengers">
        <b-field :label="$t('passengers')" v-if="passengers.pax_config">
<!--
          {max_age: 100, min_age: 12} ->    Over to 12 years
          {max_age: 11, min_age: 3}   ->    from 3 to 11 years
          {max_age: 2, min_age: 0}    ->    under 2 years

          <div v-for="(v,index) in enabledPassengers" :key="v.name">
            <input type="number" v-model="ps[index]" ref="{{ v.name }}" />
            <b :title="$t(v.name.toLowerCase()+'.subtitle')">{{ $t(v.name.toLowerCase()) }}</b>
            <a class="less" @click="ps[index]--"></a>
            <a class="more" @click="ps[index]++"></a>
          </div>
--> 
          <div v-if="passengers.pax_config[0].enable">
            <input type="number" v-model="adults" ref="adults" />
            <b :title="$t('adult.subtitle')">{{ $t('adult') }}</b>
            <a class="less" @click="adults--"></a><a class="more" @click="adults++"></a>
          </div>
          <div v-if="passengers.pax_config[1].enable">
            <input type="number" v-model="children" ref="children" />
            <b :title="$t('child.subtitle')">{{ $t('child') }}</b>
            <a class="less" @click="children--"></a><a class="more" @click="children++"></a>
          </div>
          <div v-if="passengers.pax_config[2].enable">
            <input type="number" v-model="babies" ref="babies" />
            <b :title="$t('infant.subtitle')">{{ $t('infant') }}</b>
            <a class="less" @click="babies--"></a><a class="more" @click="babies++"></a>
          </div>
        </b-field>
      </div>

        
      <div v-if="country_settings.currency_config">
        <b-field v-bind:label="country_settings.label_en">
          <b-select v-model="country_setting" placeholder="PLACEHOLDER TEMPORAL">
            <option
                v-for="option in country_settings.currency_config"
                :value="option.country_setting"
                :key="option.country_setting"
                v-text="option.description_en">
            </option>
          </b-select>
        </b-field>
      </div>
      <!-- <div>
        <b-field label="Currency">
          <b-select v-model="country_setting" required>
            <option v-for="v in country_settings" :key="v.country_setting"
              :value="v.country_setting">{{ v.description_en }}</option>
          </b-select>
        </b-field>
      </div> -->
      <div >
        <button type="submit" v-ripple.300>{{ $t('continue') }}</button>
        <!-- <button type="submit" disabled>Flight search</button> -->
      </div>
      <!-- <div id="banners">
        <h3>Popular destinations</h3>
        <div class="banner" v-ripple.300>
          <b>Buenos Aires</b>
        </div>
        <div class="banner ny" v-ripple.300>
          <b>New York</b>
        </div> 
      </div> -->
      <!-- <pre>state: {{ log }}</pre> -->

    </section>
    
  </form>
</template>

<style lang="sass" src="@/assets/sass/search.sass"></style>

<script>

// import { mapState, mapMutations } from 'vuex'
import { mapFields } from 'vuex-map-fields';
const today = new Date()

export default {
  data() {
    const trip = () => { // default trip date
      return {
        date: null,
        daysOff: [],
        minDate: today,
        maxDate: this.$moment(today).add(300, 'days').toDate()
      }
    }
    return {
      trip: trip(),
      airports: {},
      combinations: [],
      trips: [{...trip()},{...trip()}],
      adults: 1,
      children: 0,
      babies: 0, 
      // ps: ['adults','children','babies'],
      roundTrip: false,
      country_setting: null,
      country_settings: { currency_config: null },
      passengers: {},
      // token: ''
    }
  },
  computed: {
    ...mapFields([
      'search',
      'origin',
      'destination',
      'departure_date',
      'return_date',
      'token',
    ]),
    log() {
      return JSON.stringify({
        dates: this.trips
      }, null, 2);
    },
    enabledPassengers(){
        return this.passengers.pax_config ?
          this.passengers.pax_config.filter(p => p.enable) : []
    }
  },
  methods: {
    getLocation(cb /* callback */) {
      this.$cachedFetch('//ipinfo.io/geo')
      .then(r => r.json()).then(res => {
        let clean = res.city.toUpperCase()
        if(cb) cb(clean)
      })
    },
    filterLocation(clean){
      let regex = new RegExp(clean)
      console.log(regex)
      // search geolocation airport
      // let x = this.airports.origin
      let x = this.filteredAirports('origin','destination')
        .filter((e) => e.value.match(regex) )
      if(x.length>0) this.origin = clean
      if(x.length==1) this.origin = x[0].value
      this.$refs.origin.focus()
    },
    scroll(e) {
      e = e.target || e
      this.$nextTick(() => {
        // e.closest('.field').scrollIntoView()
        e.closest('.field').scrollIntoView({ block: "start", behavior: "smooth" })
      })
    },
    activateRoundTrip() {
      this.filterDate()
      this.roundTrip = true
      // this.$nextTick(() => {
        // this.$refs.return.$el.querySelector('input').click()
        // this.scroll(document.querySelectorAll('.datepicker')[1])
      // })
    },
    submit(e){
      // !!! Fix ' ' espacio que agrega /search.json en django
      let origin = this.airports.origin.find((e) => e.value === ' '+this.origin)
      let destination = this.airports.destination.find((e) => e.value === ' '+this.destination)

      // empty required fields 
      // if(!origin) this.$refs.origin.focus()
      // if(!destination) this.$refs.destination.focus()
      if(!this.trips[0].date) {
        this.$refs.departure.focus()
        this.$snackbar.open('Departure date required') // ! Traducir
        this.$refs.departure.$el.querySelector('.dropdown-trigger').click()
        return
      }
      if(!origin || !destination) return

      this.search = {
        origin: origin.code,
        destination: destination.code,
        departure_date: this.$moment(this.trips[0].date).format('DD-MM-YYYY'),
        adults: this.adults,
        minors: this.children,
        infants: this.babies,
        return_flight: this.roundTrip,
        country_setting: this.country_setting,
        direct: false,
        sessionid: null,
      }
      this.search.return_date = (this.trips[1].date && this.roundTrip) ?
        this.$moment(this.trips[1].date).format('DD-MM-YYYY') : null
      this.$router.push('/availability/')
    },
    close(target){
      if(this[target]!='') {
        this[target] = ''
        // this.$refs[target].focus()
      } else {
        let auto = this.$refs[target].$el.closest('.autocomplete') //.hide()
        // console.log('on close autocomplete: empty', auto)
      }
    },
    filteredAirports(target,other) {
      let input = this[target] // input actual
      let list = this.airports[target] // lista actual
      if(!list) return // si es el primer render

      let selected = this.airports[other].find((e) => e.value === ' '+this[other])
      let combina = list.map(e => e.code) // combinaciones por default

      if(selected) { // busco combinaciones
        combina = this.combinations.filter((c) => c[other] == selected.code).map(e => e[target])
        // debugger
      }
      return list.filter((item) => {
        return (
          item.value.toString().toLowerCase().indexOf(input.toLowerCase()) >= 0 // match
          && item.value.toLowerCase() != ' '+input.toLowerCase() // no es el seleccionado
          && combina.includes(item.code) // si tiene combinacion posible
        )
      })
    },
    filterDate() {
      console.debug('filterDate')
      // Filtrar rangos de fechas permitidas
      var _going = this.trips[0]
      var _return = this.trips[1]
      this.departure_date = _going.date
      this.return_date = _return.date
      if(this.origin != '' && this.destination != '' && this.airports.origin) {

        var origin = this.airports.origin 
          .find(x => x.value === ' '+this.origin) // fix ' ' espacio en backend
        var destination = this.airports.destination
          .find(x => x.value === ' '+this.destination) // ' ' same

        if(origin && destination) { // busco combinacion
          let combinacion = this.combinations.filter((c) => {
            return c.origin == origin.code && c.destination == destination.code
          })
          let c = combinacion[0]
          _going.daysOff = c ? c.not_flying_days_going : []
          _return.daysOff = c ? c.not_flying_days_return : []

          this.trips.forEach(t => {
            t.minDate = c.date_from ? // fecha de backoffice o default (this.trip)
              this.$moment(c.date_from, ["DD/MM/YYYY"]).toDate() : this.trip.minDate

            if(today > t.minDate) t.minDate = today

            t.maxDate = c.date_to ?
              this.$moment(c.date_to, ["DD/MM/YYYY"]).toDate() : this.trip.maxDate

            if(t.date!=null) { // si esta seleccionada
              let dia = this.$moment(t.date).day() // dia de la semana
              if(t.daysOff.includes(dia)) this.$snackbar.open('Current date not available')
            }
          })
          // debugger // Fix

          // fecha minima de retorno debe ser mayor a la partida seleccionada
          if(_return.minDate < _going.date) _return.minDate = _going.date

          this.trips.forEach(t => {
            // if(t.date==null) t.date = t.minDate // si no esta seleccionada
            // if(t.date<t.minDate) t.date = t.minDate // 
            // if(t.date>t.maxDate) t.date = t.maxDate // 
          })
        }
      }
    },
    requestNotifications() { // push notifications
      // OneSignal.registerForPushNotifications()
      // OneSignal.getUserId(id => {
      //   console.log(id)
      // })
    },
    clearForm() {
      this.origin = ''
      this.destination = ''
      this.trips[0].date = null
      this.trips[1].date = null
    },
    formatDate(date) { // Saturday, April 20, 2019
      return this.$moment(date).format('dddd, LL')
    }, 
    highlight(target) {
      let t = this.$refs[target]
      if(!t) return
      t.classList.add('highlight')
      setTimeout(()=>{ t.classList.remove('highlight') }, 200)
    }
  },
  watch: {
    adults(val){
      let max = (this.passengers.max_pax_allowed-this.children)
      if(val<1) {
        this.adults = 1
        this.$snackbar.open('Minimun 1 adult')
      }
      if(val>max) {
        this.highlight('children')
        this.adults = max
        this.$snackbar.open('Maximum '+this.passengers.max_pax_allowed+' passengers allowed')
      }
      if(this.adults<this.babies) {
        this.highlight('babies')
        this.babies = this.adults
      }
      this.highlight('adults')
    },
    children(val) {
      let max = (this.passengers.max_pax_allowed-this.adults)
      if(val<0) this.children = 0
      if(val>max) {
        this.highlight('adults')
        this.children = max
        this.$snackbar.open('Maximum '+this.passengers.max_pax_allowed+' passengers allowed')
      }
      this.highlight('children')
    },
    babies(val) {
      if(val<0) this.babies = 0
      if(this.adults<val) {
        this.babies = this.adults
        this.highlight('adults')
        this.$snackbar.open('One baby per adult allowed')
      }
      this.highlight('babies')
    },
    destination() { this.filterDate() },
    origin() { this.filterDate() },
  },
  mounted() {
    // this.getLocation()
  
    if(new Date()<new Date(this.departure_date)) // si es mayor que hoy
      this.trips[0].date = new Date(this.departure_date) // vuex value

    if(new Date()<new Date(this.return_date))
      this.trips[1].date = new Date(this.return_date)
    // this.search = {}
    let end =  process.env.baseUrl+'/search.json'
    fetch(end).then((r) => r.json()).then((json) => {
      // console.log('res', json);
      // this.setToken(json.csrf_token)
      // this.roundTrip = json.type_of_journey.round_trip
      this.token = json.csrf_token
      this.$cookie.set('sessionid', this.token)

      this.passengers = json.passengers

      // this.adults = json.passengers.ADULT
      // this.children = json.passengers.CHILD
      // this.babies = json.passengers.INFANT

      this.airports = json.airports.keys
      this.combinations = json.origin_destination.keys
      this.country_settings = json.country_settings
      // this.country_settings = json.country_settings.country_settings
    }).catch((err) => {
      console.log('Error fetching airports & dates', err);    
    })
  }
}
</script>