<template>
  <form @submit.prevent="submit">
    <section class="searchForm passengers">
      <h3>Passengers info</h3>
      <div class="clear">
        <!-- <a @click="clearForm()">Clear form</a> -->
        <a @click="requestNotifications()">Alerts</a>
      </div>
      <div>
        <b-field label="First Name">
          <b-input v-ripple.300 placeholder="Max" v-model="firstName" />
          <!-- <a class="close" :class="{ search: name }" @click="close('origin')"></a> -->
        </b-field>
      </div>
      <div>
        <b-field label="Middle Name">
          <b-input v-ripple.300 placeholder="Cassey" v-model="middleName" />
        </b-field>
      </div>
      <div>
        <b-field label="Last Name">
          <b-input v-ripple.300 placeholder="Thompson" v-model="lastName" />
        </b-field>
      </div>
      <div>
        <b-field label="Document Type">
          <b-select :value="documentType" required>
            <option v-for="v in documentType" :key="v"
              :value="v">{{ v }}</option>
          </b-select>
        </b-field>
        <b-field label="Document Number">
          <b-input v-ripple.300 placeholder="34229049" v-model="documentNumber" />
        </b-field>
      </div>
      <div>
        <b-field label="Date of birth">
          <b-input v-ripple.300 placeholder="01/01/1980" v-model="birth" />
        </b-field>
      </div>
      <div>
        <b-field label="Last Name">
        </b-field>
      </div>
<!--
// Adult 1
 
// Country code Area code 
// Gender 
// Area
// Phone number 
// Phone type * 
// Email *

// Contact and notification email,
// you may add up to 9 addresses
// Airline Frequent Flyer 
// Frequent flyer code
// Travel Documents Information

// Document type* 
// Document Number* 
// Expiration Date* 
  
// Country of Issue* 
// Nationality *
-->
    </section>
  </form>
  
</template>

<style lang="sass" src="@/assets/sass/passengers.sass"></style>

<script>

import { mapFields } from 'vuex-map-fields';''

export default {
  data() {
    return {
      res: '',
      type: 'departure',
      send: {},
      // passengers: {
        firstName: '',
        middleName: '',
        lastName: '',
        documentType: ['DNI','Passport'],
        documentNumber: '',
        birth: '',
        gender: '',
        areaCode: '',
        areaPhone: '',
        phoneNumber: '', 
        phoneType: '', 
        email: '',

        // Contact and notification email: add up to 9 addresses
        // Airline Frequent Flyer 
        // Frequent flyer code

        // Travel Documents Information
        expiration: '',
        countryIssue: '',
        nationality: '',
      // }
      loading: true,
      api: '//kibe-qa-xx.kiusys.net/api',
      // api: '//127.0.0.1:8000/api',
      tyc: false
    }
  },
  computed: {
    log() {
      return JSON.stringify({ search: this.search, filters: this.filters }, null, 2);
    },
    ...mapFields([
      'search',
      'origin',
      'destination',
      'token',
      'flights',
      'step'
    ]),
  }
}
</script>